{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ANAL</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta charset="UTF-8">

</head>

<body>
<h2> график покупок и продаж</h2>
<b>синий купили,оранжевый продали</b>
    <img src="data:image/png;base64,{{ BoughtGraph }}" alt="" >
<h2> график Залили Слили  Stacking</h2>
<b>синий залили,оранжевый слили</b>
    <img src="data:image/png;base64,{{ StackGraph }}" alt="" >
<div>{{ Df|safe }}</div>

<h2> Топ покупок</h2>
        <table border="1" width="50%" cellpadding="5">
            <tr>
                <th>Адрес</th>
                <th>Значение</th>
            </tr>

                {% for key, value in dfBoughtPerson.items %}
                    <tr>
                        <td><a href = "https://bscscan.com/address/{{ key }}">{{ key }}</a></td> <td> {{ value }} </td>
                    </tr>
                {% endfor %}

        </table>

<h2> Топ продаж</h2>
    <table border="1" width="50%" cellpadding="5">
            <tr>
                <th>Адрес</th>
                <th>Значение (BUSD)</th>
            </tr>

                {% for key, value in dfSoldPerson.items %}
                    <tr>
                        <td><a href = "https://bscscan.com/address/{{ key }}">{{ key }}</a> </td> <td> {{ value }} </td>
                    </tr>
                {% endfor %}

        </table>


<h2> Топ Кто залил денях на Stacking</h2>
    <table border="1" width="50%" cellpadding="5">
            <tr>
                <th>Адрес</th>
                <th>Значение (BUSD)</th>
            </tr>

                {% for key, value in dfStack.items %}
                    <tr>
                        <td> <a href = "https://bscscan.com/address/{{ key }}">{{ key }}</a> </td> <td> {{ value }} </td>
                    </tr>
                {% endfor %}

        </table>

<h2> Топ Кто слил  денях с Stacking</h2>
    <table border="1" width="50%" cellpadding="5">
            <tr>
                <th>Адрес</th>
                <th>Значение (BUSD)</th>
            </tr>

                {% for key, value in dfMerge.items %}
                    <tr>
                        <td> <a href = "https://bscscan.com/address/{{ key }}">{{ key }}</a> </td> <td> {{ value }} </td>
                    </tr>
                {% endfor %}

        </table>
</body>

</html>