[Unit]
Description=bot service
After=network.target

[Service]
Type=simple
User=adminos
ExecStart=/home/adminos/Bsc/venv/bin/python  /home/adminos/Bsc/bscAnalize/manage.py bot_admin
WorkingDirectory=/home/adminos/Bsc/bscAnalize/
[Install]
WantedBy=multi-user.target