{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static '/favicon.ico' %}" >
    <title>DFX_Analitics</title>
    <link href="{% static '/app.00b7da2a.css' %}" rel="preload" as="style">
    <link href="{% static '/chunk-vendors.c470e980.css' %}" rel="preload" as="style">
    <link href="{% static '/app.d1f31d39.js' %}" rel="preload" as="script">
    <link href="{% static '/chunk-vendors.cfe401ea.js' %}" rel="preload" as="script">
    <link href="{% static '/chunk-vendors.c470e980.css' %}" rel="stylesheet">
    <link href="{% static '/app.00b7da2a.css' %}" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but DFX_Analitics doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="{% static '/chunk-vendors.cfe401ea.js' %}"></script>
<script src="{% static '/app.d1f31d39.js' %}"></script>
</body>
</html>